.authPage {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.inputField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.header {
    margin-top: 20px;
}
.email {
margin-top: 20px;
}
.password {
    margin-top: 20px;
}
.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.btn button {
    margin-right: 20px;
}